extends layout

block content
  h1= title
  div(class='on_off')
    button(class='btn active', id='on_btn', onclick='set_active("on")') ON
    button(class='btn', id='off_btn', onclick='set_active("off")') OFF
  div(class='brightness')
    label(for='brightness') Brightness:
    input(type='text', name='brightness', placeholder='0-100', maxlength='3', min='0', max='100')
  input(type='submit', value='Send Signal')