doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' href='/images/philips_hue_logo_favicon.png')
    script(src='/javascripts/set_active.js')
    script(src='/javascripts/validate_brightness.js')
  body
    block content